<div class="myfooter">
  <div class="centree">
    <div class="row">
      <div class="col-xs-12">
         <div class="list-menu">
          <ul>
          <li>Adresse : 33 avenue Marc Nouaux 33610 Cestas</li>
          <li>Contact : 05.56.10.17.27</li>
          <li><a href="#"><i class="fa fa-facebook">acebook</i></a><a href="#"><i class="fa fa-instagram"> Instagram</i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

