<div class="myfooter">
  <div class="centree">
    <div class="row">
      <div class="col-xs-12">
         <div class="list-menu">
          <ul>
          <li>Chez Binh : 33 avenue Marc Nouaux 33610 Cestas</li>
          <li>Contact : 05.56.10.17.27</li>
          <li><a href="#"><img src="images/ico-facebook.png" alt="" width="40px"></a>
              <a href="#"><img src="images/ico-instagram.png" alt="" width="40px"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

