.main-titlebox-a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
}

.accomps-p {
  background: $sky-gradient;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 8px;
  color: black;
  border: 1px black solid;
}

.accomps-p:hover {
  background: $gray-gradient;
  color: white;
}


.accomps-description {
  font-family: Montserrat;
  text-align: left;
}

.accomps-prix {
  line-height: 90%;
  padding: 8px;
  text-align: center;
}

.accomps-image {
  margin: 0px 4px;
  border-radius: 3px;
  min-height: 70px;
  min-width: 80px;
  max-height:  70px;
  max-width: 80px;
  text-align: center;
}

.accomps-description h3 {
  margin-bottom: 0;
  }

.accomps-description p {
  margin-bottom: 0;
}

/*format tablettes------------------------------------------------*/
@media screen and (max-width: 991.98px) {
  .main-titlebox-a {
    width: 85%;
  }
}

/* Format téléphone ------------------------------------------------*/
@media screen and (max-width: 767.98px) {
  .main-titlebox-a {
    width: 80%;
  }
}
