.main-titlebox-e {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $yellow-gradient;
  width: 25%;
  margin: 10px auto;
  height: 70px;
  border-radius: 4px;
  color: white;
}

.main-title {
  text-align: center;
  white-space: nowrap;
}

.main-title h1 {
  transition: all ease-in-out 500ms;
  transform: scale(1);
}

.entrees-e {
  background: $gray-gradient;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 8px;
}

.entrees-e:hover {
  background: $yellow-gradient;
  color: white;
}

.entrees-description {
  font-family: Montserrat;
  text-align: left;
}

.entrees-prix {
  line-height: 90%;
  padding: 8px;
  text-align: center;
}

.entrees-image {
  margin: 0px 4px;
  border-radius: 3px;
  min-height: 70px;
  min-width: 80px;
  max-height:  70px;
  max-width: 80px;
  text-align: center;
}

.entrees-description h4 {
  margin-bottom: 0;
  }

.entrees-description p {
  margin-bottom: 0;
}

/*format tablettes------------------------------------------------*/
@media screen and (max-width: 991.98px) {

}

/* Format téléphone ------------------------------------------------*/
@media screen and (max-width: 767.98px) {
  .main-titlebox-e {
    width: 50%;
  }

  .main-title h1 {
    transition: all ease-in-out 500ms;
    transform: scale(0.7);
  }
}
