.main-titlebox-e {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
}

.entrees-e {
  background: $sky-gradient;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 8px;
  border: 1px black solid;
  color: black;
  max-width: 800px;
}

.entrees-e:hover {
  background: $gray-gradient;
  color: white;
}

.entrees-description {
  font-family: Montserrat;
  text-align: center;
}

.entrees-prix {
  line-height: 90%;
  padding: 8px;
  text-align: center;
}

.entrees-image {
  margin: 0px 4px;
  border-radius: 3px;
  min-height: 70px;
  min-width: 80px;
  max-height:  70px;
  max-width: 80px;
  text-align: center;
}

.entrees-description h4 {
  margin-bottom: 0;
}



/*format tablettes------------------------------------------------*/
@media screen and (max-width: 991.98px) {
  .main-titlebox-e img{
    transform: scale(0.9);
  }
}

/* Format téléphone ------------------------------------------------*/
@media screen and (max-width: 767.98px) {
  .main-titlebox-e img{
    transform: scale(0.8);
  }
}
