// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "lightbox";



body {
  background-image: url("../images/fond-31.jpg");
  background-size: 1;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

p {
  font-family: $body-font;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.navbar-top-offset {
  padding-top: 90px;
}
