<div class="about-text">
  <div class="bg-box-about">
    <div id=1 class="title-section">
      <p>A propos</p>
    </div>
      <p>La cuisine de ce restaurant est d'origine <strong>Sud-Viêtnamienne</strong> plus particulièrement de la ville de Sadec, ville d'enfance de Binh, le restaurateur. Sadec est une ville au sud d'Ho Chi Minh city (Saigon) située sur le delta du Mékong. C'est une ville où a résidé Marguerite Duras, le lieu où se déroule son roman "l'Amant".</p>
       <p>Binh a passé son enfance dans la cuisine de sa grand-mère et a commencé son apprentissage à ses côtés. Il est arrivé en France au milieu des années 1990 et a suivi des études de restauration où il a appris la cuisine française.</p>
       <p>Il a ensuite travaillé pendant près de 20 ans dans le restaurant familial où il a mis à la carte une cuisine d'inspiration franco-vietnamienne.</p>
       <p>Depuis le 28 Novembre 2020 il a décidé de se lancer et d'ouvrir son propre restaurant, Chez Binh à Cestas. Nous espérons vous y voir bientôt!</p>
  </div>
</div>
