<div id="link2" class="nav-offset-top"></div>
<div class="bg-box-m">
  <div class="cards-container1">

    <div class="binhinfo">
      <img src="images/Logo-3.jpg" alt="">
      <h4>33 avenue Marc Nouaux<br>33610 Cestas<br>Tél: 05.56.10.17.27</h4>
      <p><strong>Ouvert midi et soir pour les plats à emporter</strong><br>Du mardi au samedi.</p>
    </div>

    <div class="row">
      <div class= "col-xs-12 col-sm-2">
        <div class="cards n1">
          <span class="cards-category">MENU DU JOUR<br>ENTRÉE, PLAT, DESSERT : <strong>14€90</strong><br>PLAT DU JOUR SEUL : <strong>10€90</strong></span>
            <div class="cards-description">
            <h3>LE MENU DU JOUR</h3>
            <p>Seulement le midi !</p>
              <p class="bg">Voir le "Plat du jour" ! <a href="https://www.facebook.com/profile.php?id=100058083176574" target="_blank">(Lien Facebook)</a></p>
          </div>
          <img src="images/Logo-3.jpg" alt="" class="avatar cards-image">
        </div>
      </div>
    </div>
  </div><!-- cards-container 2 -->

  <div class="cards-container2">
    <div class="row">
      <div class= "col-md-3 col-xs-12">
        <a href="entrees.html">
          <div class="cards n2">
          <span class="cards-category">Cuisine viêtnamienne</span>
            <div class="cards-description">
            <h3>NOS ENTREES</h3>
            <p>Faites votre choix !</p>
          </div>
          <img src="images/Logo-3.jpg" alt="" class="avatar cards-image">
        </div>
        </a>
      </div>
      <div class= "col-md-3 col-xs-12">
        <a href="plats.html">
        <div class="cards n3">
          <span class="cards-category">Cuisine viêtnamienne</span>
            <div class="cards-description">
            <h3>NOS PLATS</h3>
            <p>Faites votre choix !</p>
            </div>
            <img src="images/Logo-3.jpg" alt="" class="avatar cards-image">
        </div>
        </a>
      </div>
      <div class= "col-md-3 col-xs-12">
        <a href="accomps.html">
        <div class="cards n4">
          <span class="cards-category">Cuisine viêtnamienne</span>
            <div class="cards-description">
            <h3>ACCOMPAGNEMENTS</h3>
            <p>Faites votre choix !</p>
          </div>
          <img src="images/Logo-3.jpg" alt="" class="avatar cards-image">
        </div>
        </a>
      </div>
       <div class= "col-md-3 col-xs-12">
        <a href="desserts.html">
        <div class="cards n5">
          <span class="cards-category">Cuisine viêtnamienne</span>
            <div class="cards-description">
            <h3>DESSERTS</h3>
            <p>Faites votre choix !</p>
          </div>
          <img src="images/Logo-3.jpg" alt="" class="avatar cards-image">
        </div>
        </a>
      </div>
    </div>
  </div><!-- cards-container 2 -->
</div><!-- fin bg-box -->
