<div class="nav-offset-top"></div>
<div class="main-titlebox-a" data-aos="flip-up">
    <img src="../images/BINH-Title_a.jpg" alt="Nos accompagnements" width="300px">
</div>
<div class="container">
  <% data.accomps.each do |accomp| %>
  <div class="accomps-p">
    <img src="<%= accomp.img_link %>" alt="" class='accomps-image rounded'>
    <div class="accomps-description">
      <h4><%= accomp.name %></h4>
    </div>
    <div class="accomps-prix">
      <h4><%= accomp.prix %></h4>
    </div>
  </div>
<% end %>
</div>
<%= partial 'about.html' %>
