<div class="nav-offset-top"></div>
<div class="main-titlebox-d">
  <div class="main-title">
    <h1>NOS DESSERTS</h1>
  </div>
</div>
<div class="container">
  <% data.desserts.each do |dessert| %>
  <div class="desserts-p">
    <div class="desserts-description">
      <h4><%= dessert.name %></h4>
    </div>
    <img src="<%= dessert.img_link %>" alt="" class='desserts-image rounded'>
    <div class="desserts-prix">
      <h4><%= dessert.prix %></h4>
    </div>
        <ul class="list-inline poshoriz">
          <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100058083176574" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
  </div>
<% end %>
</div>
