<div class="navbar-top-offset"></div>

<div class="banner">
  <div class="banner-content">
    <h1>BIENVENUE CHEZ BINH</h1>
    <p>Cuisine traditionnelle Sud-Viêtnamienne</p>
    <a type="button" href="#link2" class= "btn btn-success">Découvrir !</a>
  </div>
</div>

<%= partial 'menu.html' %>

<%= partial 'about.html' %>
