<div class="nav-offset-top"></div>
<div class="main-titlebox-p">
  <img src="../images/BINH-Title_p.jpg" alt="Nos plats" width="300px">
</div>
<div class="container">
  <% data.plats.each do |plat| %>
  <div class="plats-p">
    <div class="plats-description">
      <h4><%= plat.name %></h4>
    </div>
    <img src="<%= plat.img_link %>" alt="" class='plats-image rounded'>
    <div class="plats-prix">
      <h4><%= plat.prix %></h4>
    </div>
  </div>
<% end %>
</div>
